.section {
  padding: 4rem 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.sectionText {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.useCaseCard {
  height: 100%;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.useCaseCard:hover {
  border-color: var(--ifm-color-primary);
  transform: translateY(-5px);
}

.gettingStartedCol {
  display: flex;
  flex-direction: column;
}

.gettingStartedCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.codeBlock {
  position: relative;
  background-color: var(--ifm-code-background);
  padding: 1rem;
  border-radius: var(--ifm-card-border-radius);
  font-family: var(--ifm-font-family-monospace);
}

.copyButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.docButton {
  margin-top: 1rem;
}
