.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin-bottom: 1rem;
}

.featureItem {
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
}
