.section {
  padding: 4rem 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.useCaseCard {
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.useCaseCard:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.useCaseSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}
