.shapesContainer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 2;
}

.shape1,
.shape2,
.shape3,
.shape4,
.shape5,
.shape6 {
  position: absolute;
  opacity: 0.6;
  border: 3px solid var(--ifm-color-primary);
  z-index: 2;
}

.shape1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 15%;
  left: 15%;
  animation: float1 12s ease-in-out infinite;
}

.shape2 {
  width: 120px;
  height: 120px;
  top: 60%;
  left: 25%;
  animation: float2 15s ease-in-out infinite;
}

.shape3 {
  width: 180px;
  height: 180px;
  border-radius: 30px;
  top: 30%;
  right: 20%;
  transform: rotate(45deg);
  animation: float3 18s ease-in-out infinite;
}

.shape4 {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 120px solid var(--ifm-color-primary);
  opacity: 0.6;
  bottom: 25%;
  right: 15%;
  animation: float4 14s ease-in-out infinite;
  z-index: 2;
}

.shape5 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  top: 70%;
  right: 35%;
  animation: float5 16s ease-in-out infinite;
}

.shape6 {
  width: 160px;
  height: 160px;
  border-radius: 30px;
  bottom: 15%;
  left: 35%;
  animation: float6 20s ease-in-out infinite;
}

@keyframes float1 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(30px, -30px) rotate(180deg);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-40px, 40px) rotate(-180deg);
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translate(0, 0) rotate(45deg);
  }
  50% {
    transform: translate(50px, -20px) rotate(225deg);
  }
}

@keyframes float4 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-30px, -40px) rotate(360deg);
  }
}

@keyframes float5 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(20px, 30px) scale(1.2);
  }
}

@keyframes float6 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-25px, 25px) rotate(-90deg);
  }
}
